@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--very-dark-blue-main);
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-family: Outfit;
}

.container {
  width: 305px;
  padding: 23px 20px 32px;
  background-color: var(--very-dark-blue-card);
  border-radius: 16px;
  margin-top: 45px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.img-container {
  max-width: 100%;
  border-radius: 16px;
}

.figcaption {
  color: var(--white);
  text-align: justify;
}

.description {
  color: hsl(215, 51%, 70%);
}

.diamond{
  display: inline;
}
.description2 {
  color: hsl(178, 100%, 50%);
  display: inline;
}

.clock{
display: inline;
margin-left: 80px;
}

.description3 {
  color: hsl(215, 51%, 70%);
  display: inline;
}

.jules-pic {
  max-width: 15.15%;
  display: inline;
  border: 1.5px solid white;
  border-radius: 50px;
  vertical-align: middle;
}

.jules-text {
  color: hsl(215, 51%, 70%);
  display: inline;
  vertical-align: middle;
  margin-left: 5px;
}

span{
  color: var(--white);
  display: inline;
  margin-left: 3px;
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: hsl(215, 51%, 70%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
